@import "../viewer/shared.css";
@import "../graphing/styles.css";

#contentListing h2 {
	margin-top: 0;
	margin-bottom: 0.5lh;
	font-size: 1lh;
}

#contentViewer h2 {
	margin-top: 0;
}

#contentListing footer {
	position: absolute;
	bottom: 0;
	margin: 0 0.8lh 0.8lh 0;
}

#contentListing input[type="checkbox"] {
	margin: 0.2em 0.2em 0.2em 0.4em;
}

#contentViewer {
	padding: 1lh;
}

button[type="button"] {
	background-color: var(--button-color);
	border: var(--secondary-border);
	border-radius: var(--button-border-radius);
	font-size: 0.8em;
	padding: var(--button-padding);
	cursor: pointer;
	display: block;
}

svg button[type="button"],
li button[type="button"] {
	padding: 0.1lh;
	font-size: 0.65em;
	margin-left: 0.3em;
}

footer button[type="button"] {
	margin: var(--button-padding) var(--button-padding) 0 0;
}

section {
	width: max-content;
	min-width: 25ch;
	background-color: var(--secondary-card-color);
	padding: var(--small-card-padding);
	border: var(--primary-border);
	border-radius: var(--card-border-radius);
}

section table {
	min-width: 100% !important;
}

#contentViewer .image {
	display: block;
	overflow: auto;
	height: calc(100% - (1.5em + 1.5lh));
}
