@import "../shared.css";
@import "../graphing/styles.css";

body {
	margin: 1lh;
	background-color: var(--background-color);
}

a {
	color: unset;
	text-decoration: unset;
	cursor: pointer;
}

section {
	background-color: var(--primary-card-color);
	padding: var(--large-card-padding);
	display: inline-block;
	margin: 0 1lh 1lh 0;
	overflow: auto;
}

section h2,
section h3 {
	margin-top: 0;
}

section.course h3 {
	font-size: 1lh;
}

.course {
	width: min-content;
	min-width: 30ch;
}

.textbook {
	width: max-content;
	min-width: 25ch;
	background-color: var(--secondary-card-color);
	padding: var(--small-card-padding);
}

.textbook table {
	min-width: 100%;
}

section,
.textbook {
	border: var(--primary-border);
}

.section-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

nav.related {
	float: right;
}

nav.related div.related {
	float: right;
}

nav.related a {
	background-color: var(--button-color);
	border: var(--primary-border);
	padding: var(--button-padding);
	margin-left: 0.8lh;
	white-space: nowrap;
	display: inline-block;
}

nav.related div.related a {
	margin-top: 1lh;
}

#progressGraphs {
	font-size: 99%;
}
