@import "../shared.css";

body {
	margin: 1lh;
	background-color: var(--background-color);
}

a {
	color: unset;
	text-decoration: unset;
	cursor: pointer;
}

details summary {
	cursor: pointer;
}

button[type="button"] {
	background-color: var(--button-color);
	border: var(--secondary-border);
	font-size: 0.8em;
	padding: var(--button-padding);
	cursor: pointer;
	display: block;
	margin: var(--button-padding) var(--button-padding) 0 0;
	color: black;
}

nav.related {
	float: right;
}

nav.related a {
	background-color: var(--button-color);
	border: var(--primary-border);
	padding: var(--button-padding);
	margin-left: 0.5lh;
	white-space: nowrap;
	display: inline-block;
}

fieldset {
	width: fit-content;
	border: var(--secondary-border);
	background-color: var(--form-card-color);
	margin: 1lh 0;
}

fieldset legend {
	background-color: var(--form-card-title-color);
	padding: 0.15lh 0.3lh;
}

textarea {
	width: 24em;
	height: 14em;
	border: var(--secondary-border);
	font:
		0.9em "Liberation Mono",
		monospace,
		OpenMoji;
	box-sizing: border-box;
}
