@import "../shared.css";

body {
	margin: 1lh;
	background-color: var(--background-color);
}

a {
	color: unset;
	cursor: pointer;
}

nav.related {
	float: right;
}

nav.related a {
	background-color: var(--button-color);
	border: var(--primary-border);
	border-radius: var(--button-border-radius);
	padding: var(--button-padding);
	margin-left: 0.5lh;
	white-space: nowrap;
	display: block;
	text-decoration: unset;
}

code {
	font-size: 90%;
	padding: 0.1em;
	font-family: "Liberation Mono", monospace, OpenMoji;
}

code,
pre {
	background-color: var(--form-card-title-color);
}

pre {
	display: inline-block;
	margin: 0;
}
